<div class="single-item-container">
    <div class="single-item-card">
        <div class="single-item-contents">
            <div id="item-title" class="single-item-title">{{selectedItem.title}}</div>
            <div class="single-item-img">
                <img src="{{selectedItem.imageUrl}}" alt="">
            </div>
            <div id="item-description" class="single-item-description">{{selectedItem.description}}</div>
            <div class="single-item-navigation">
                <a href="/">
                    <img class="back-arrow" src="img/back.svg" alt="back">
                </a>
                <a href="/items/{{selectedItem._id}}/update">
                    <div class="button update-button">Update</div>
                </a>
            </div>
        </div>
    </div>
</div>